{
    "addresses": {
        "dns": "127.0.0.1",
        "grpc": "127.0.0.1",
        "http": "127.0.0.1",
        "https": "127.0.0.1"
    },
    "advertise_addr": "{{ consul_bind_address }}",
    "advertise_addr_wan": "{{ consul_bind_address }}",
    "bind_addr": "{{ consul_bind_address }}",
    "bootstrap": false,
    "bootstrap_expect": 3,
    "client_addr": "127.0.0.1",
    "data_dir": "/var/consul",
    "datacenter": "dc1",
    "disable_update_check": false,
    "domain": "consul",
    "enable_local_script_checks": false,
    "enable_script_checks": false,
    "enable_syslog": true,
    "encrypt": "{{ consul_raw_key }}",
    "log_level": "INFO",
    "node_name": "{{ consul_node_name }}",
    "performance": {
        "leave_drain_time": "5s",
        "raft_multiplier": 1,
        "rpc_hold_timeout": "7s"
    },
    "ports": {
        "dns": 8600,
        "grpc": -1,
        "http": 8500,
        "https": -1,
        "serf_lan": 8301,
        "serf_wan": 8302,
        "server": 8300
    },
    "raft_protocol": 3,
    "retry_interval": "30s",
    "retry_interval_wan": "30s",
    "retry_join": [
        "provider=gce tag_value={{ consul_gce_tag }}"
    ],
    "retry_max": 0,
    "retry_max_wan": 0,
    "server": true,
    "syslog_facility": "local0",
    "ui": true
}
